<%= render 'shared/navbar' %>
<div>
  <div class="show-info">
    <h1>Available session times</h1>
  </div>
  <div class="show-info">
    <h2><%= "Select one of the open sessions for '#{@lesson.title}' below 😀" %></h2>
    <div class="session">
      <ul class="sessions-show">
        <% if @sessions.nil? %>
          <p>Sorry, there are no open sessions for this lesson. Please check back later!</p>
        <% else %>
          <% @sessions.each do |session| %>
            <%= session.schedule %></li>
          <% end %>
            <%= link_to "Book now!", confirmation_lesson_sessions_path %>
        <% end %>
        <div class="sessions-show">
            <%= link_to "Delete a session", @session, method: :delete, data:{ confirm: 'Are you sure?' }, class: "btn btn-gradient" %>
            <%= link_to "Go back", lessons_path, class: "btn btn-gradient" %>
        </div>
      </ul>
    </div>
  </div>
<div class="footer2">
<%= render 'shared/footer' %>
</div>
