<%= render 'shared/navbar' %>
<div>
<div class="learnit-center">
<h1 class="page-header">Create a new session for <%= @lesson.title %></h1>
<%= simple_form_for([ @lesson, @session ]) do |f| %>
  <%= f.input :schedule, as: :datetime, html5: true %>
  <%= f.association :lesson %>
  <%= f.association :user, label: false,
  :as => :hidden, :input_html => { :value => current_user.id }  %>
  <%= f.submit "Submit session" %>
<% end %>
</div>
</div>
<div class="footer2">
<%= render 'shared/footer' %>
</div>
