<%= render 'shared/navbar' %>
<h1>user dashboard</h1>
<h2>Your lessons</h2>
  <% raise %>%
  <%= f.title %>
  <%= f.category %>
  <%= f.price %>
  <%= f.description %>
<%# All @lesson variables are now reachable %>
