<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/lessons", class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/fantastic-four/image/upload/v1646194619/development/higher_res_logo_tnnfrz.png" %>
    <% end %>
    <div class="column d-flex justify-content-center flex-nowrap">
          <%= form_with(url: "/lessons", method: :get, data: {action: "submit->search#submit"}) do |f| %>
            <%= label_tag(:query, "Find a lesson:") %>
            <%= text_field_tag(:query, "") %>
            <%= submit_tag("🔎", class: "btn-gradient") %>
          <% end %>
      </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Create a new lesson", "/lessons/new", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "See your schedule", "/users", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <% if !current_user.nil? %>
              <% if current_user.avatar.present? %>
              <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
              <%= image_tag "https://res.cloudinary.com/fantastic-four/image/upload/v1646304228/development/2zfjnnba6iuuswm048etxu3zdap9.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <% end %>
            <% end %>
            <%# comment original avatar %>
            <% if false %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <%# comment original avatar %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", users_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<!--%= current_user.pavatar %-->
<% if false %>
  <% if current_user.nil? %>
    <% if current_user.avatar.present? %>
      <%= image_tag current_user.avatar, class: "avatar dropdown-toggle" %>
      <% else %>
      <%= image_tag "https://res.cloudinary.com/fantastic-four/image/upload/v1646191493/development/mf6nwfathzuc8uptro4lrjpn8woa.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
  <% end %>
<% end %>
<%# current_user.avatar end %>
