<%= render 'shared/navbar' %>
<h1>lessons index</h1>
<div>
  <ul>
  <% @lessons.each do |lesson| %>
    <li>Title:<%= lesson.title %></li>
    <li><%= lesson.category %></li>
    <li><%= lesson.rating %></li>
    <li><%= lesson.user.email %></li>
    <li><%= link_to "detail of this lesson", lesson_path(lesson) %></li>
    <% end %>
  </ul>
</div>
<%= link_to "Create a new lesson", new_lesson_path %>
