<%= render 'shared/navbar' %>
<% if false %>
<div>
  <ul>
  <% @lessons.each do |lesson| %>
    <li>Title:<%= lesson.title %></li>
    <li><%= lesson.category %></li>
    <li><%= lesson.rating %></li>
    <li><%= lesson.user.email %></li>
    <li><%= link_to "detail of this lesson", lesson_path(lesson) %></li>
    <% end %>
  </ul>
</div>
<%= link_to "Create a new lesson", new_lesson_path %>
<% end %>
<div class="container-cards">
    <% @lessons.each do |lesson| %>
      <div class="card-trip mb-3">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= lesson.title %></h2>
            <p><%= lesson.category %></p>
            <p><%= link_to "Details", lesson_path(lesson), class: "btn btn-gradient"%></p>
          </div>
          <div>
            <h2 class="card-trip-pricing"><%= lesson.rating %></h2>
            <p><%= link_to "Sessions", "#", class: "btn btn-gradient"%></p>
          </div>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>

    <% end %>

</div>
