<%= render 'shared/navbar' %>

<div class="learnit-center">
<h1 class="page-header">Edit this lesson</h1>
  <%= simple_form_for @lesson do |f| %>
      <%= f.input :title %>
      <%= f.input :category %>
      <%= f.input :rating %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file, label:"Change current lesson photo" %>
      <%= f.association :user, label: "Your are editing a new lesson",
  :as => :hidden, :input_html => { :value => current_user.id }  %>
      <%= f.button :submit %>
  <% end %>
<%= link_to "Back", lessons_path %>
</div>
<%= render 'shared/footer' %>
<div class="footer2">
<%= render 'shared/footer' %>
</div>
