<%= render 'shared/navbar' %>

<div>
  <h1 style="text-align:center">Lessons available</h1>
  <div class="container-cards">
      <% @lessons.each do |lesson| %>
        <div class="card-trip mb-3">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><%= lesson.title %></h2>
              <p><%= lesson.category %></p>
            <p>This is a short description of the lesson.</p>
              <p><%= link_to "Details", lesson_path(lesson), class: "btn btn-gradient"%></p>
            </div>
            <div>
              <h2 class="card-trip-rating"><%= "$#{lesson.price}" %></h2>
              <p class="card-trip-rating"><%= "★ #{lesson.rating}" %></p>
              <p><%= link_to "Sessions", "#", class: "btn btn-gradient"%></p>
            </div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
  </div>
</div>

<%= link_to "Create a new lesson", new_lesson_path, class: "btn btn-gradient" %>
