<%= render 'shared/navbar' %>

<div>
<br>
  <h1 style="text-align:center">Lessons available</h1>
  <div class="container-cards">
      <% @lessons.each do |lesson| %>
        <div class="card-index mb-3">
          <%= link_to lesson_path(lesson) do %>
            <%= cl_image_tag lesson.photo.key %>
            <div class="card-index-infos">
              <div>
                <h2><%= lesson.title %></h2>
                <p><%= lesson.category %></p>
                <p><%= lesson.description %></p>
              </div>
              <div id="card-index-numbers">
                <h2 class="card-index-rating"><%= "$#{lesson.price}" %></h2>
                <p class="card-index-rating"><%= "★ #{lesson.rating}" %></p>
              </div>

                <% if !current_user.nil? %>
                  <% if lesson.user.avatar.present? %>
                    <%= image_tag lesson.user.avatar, class: "card-index-user avatar-bordered" %>
                  <% else %>
                      <%= image_tag "https://res.cloudinary.com/fantastic-four/image/upload/v1646222179/development/5gcjh4kw0fvinmnk97ihx41v3v0a.gif",class: "card-index-user avatar-bordered" %>
                  <% end %>
                <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>

<% if false %>
<%# avatar image tag for current user %>
  <% if !current_user.nil? %>
    <% if current_user.avatar.present? %>
      <%= image_tag current_user.avatar, class: "card-index-user avatar-bordered" %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/fantastic-four/image/upload/v1646191493/development/mf6nwfathzuc8uptro4lrjpn8woa.png", class: "card-index-user avatar-bordered" %>
    <% end %>
  <% end %>
<% end %>
<%# avatar image tag end %>
