<%= render 'shared/navbar' %>
<div class="learnit-center">
  <h1 class="page-header">Create a new lesson</h1>
    <%= simple_form_for @lesson do |f| %>
        <%= f.input :title %>
        <%= f.input :category %>
        <%= f.input :rating %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.association :user, label: false,
    :as => :hidden, :input_html => { :value => current_user.id }  %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit %>
    <% end %>
  <%= link_to "Back", lessons_path %>
</div>
