<%= render 'shared/navbar' %>
<div class="wrapper">
  <div id="show-container-background">
    <%= cl_image_tag @lesson.photo.key %>
    <div id="show-title">
      <div>
        <h1 id="show-header"><%= @lesson.title %></h1>
      </div>
      <div>
        <p id="show-header"><%= "#{@lesson.category} | ★ #{@lesson.rating}" %></p>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="show-info">
    <p ><%= @lesson.description %></p>
    <p><%= @lesson.user.email %></p>
    <%= link_to "Go back", lessons_path, class: "btn btn-gradient" %>
    <%= link_to "Edit", edit_lesson_path, class: "btn btn-gradient" %>
    <%= link_to "Delete", @lesson, method: :delete, data:{ confirm: 'Are you sure?' }, class: "btn btn-gradient" %>
    <%= link_to "Create new session", new_lesson_session_path(params[:id]), class: "btn btn-gradient" %>
    <%= link_to "View available times", lesson_sessions_path(params[:id]), class: "btn btn-gradient" %>
  </div>
</div>
